<div flex ng-controller="detalles_contenido"  layout="column" ng-cloak class="md-inline-form">
    
    <div layout="row">
        <md-content layout-padding flex="66" flex-offset="15" class="contenedor-form md-whiteframe-4dp">
            <div ng-if="contenido.titulo != ''">
                <div layout="column"  layout-align="center center">
                    <img ng-src="img/{{contenido.imagen}}" class="md-card-image img-detalle" alt="Washed Out">
                    <h2>{{contenido.titulo}}</h2>
                </div>
                <div class="contenedor-detalles" layout="column" layout-align="center center"> 
                    <div>
                        <h4>Descripcion</h4>
                        <p>{{contenido.contenido}}</p> 
                    </div>
                    <div ng-if="contenido.disponible" > 
                        <h4>Enlace</h4>
                        <md-button class="md-primary" href="{{contenido.enlace}}" target="_blank">
                            Ver
                        </md-button>
                    </div> 
                    <div ng-if="!contenido.disponible" >
                        <p>El enlace estuvo disponible hasta: {{contenido.fecha_limite}} </p> 
                    </div> 
                    <div>
                        <h4>Etiquetas</h4>
                        <p>{{contenido.etiqueta}}</p> 
                    </div>
                </div>
            </div>
            <div ng-if="contenido.titulo == ''">
                <div class="contenedor-detalles" layout="column" layout-align="center center"> 
                    <div>
                        <h4>El contenido buscado no se encuentra</h4>
                    </div>
                </div>
            </div>
        </md-content>
        <div flex="">
        </div>
    </div>
</div>