<div flex ng-controller="form_contenido" layout="column" ng-cloak class="md-inline-form">

    <div layout="row">
        <md-content layout-padding  flex="66" flex-offset="15" class="contenedor-form md-whiteframe-4dp">
            <div layout="column"  layout-align="center center">
                <i  class="material-icons md-36 user-icon-form">library_add</i>
                <h2>Nuevo Contenido</h2>
            </div>
            <div>
                <form ng-submit="nuevoContenido()" name="contenidoForm">

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                        <label>Titulo</label>
                        <input required ng-model="contenido.titulo">
                        </md-input-container>
            
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Enlace</label>
                            <input required ng-model="contenido.enlace">
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <md-select ng-model="contenido.categoria_id" placeholder="Categoria" class="md-no-underline">
                                <md-option><em>Seleccione</em></md-option>
                                <md-option required ng-repeat="cate in cate_select" ng-value="cate.id">
                                {{cate.nombre}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Fecha Limite</label>
                            <md-datepicker required ng-model="contenido.fecha_limite" aria-label="Enter date"></md-datepicker>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Etiquetas</label>
                            <input required ng-model="contenido.etiqueta">
                        </md-input-container>
                    </div>
                        
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <p>{{nombreImagen}}</p>
                            <label>Imagen</label>
                        </md-input-container>

                        <md-input-container>
                            
                            <input required aria-label="seleccione" id="fileInput" type="file" file-model="contenido.imagen">
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Contenido</label>
                            <textarea required ng-model="contenido.contenido" md-maxlength="250" rows="3" md-select-on-focus></textarea>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <md-button type="submit" class="boton-form md-raised md-primary">Guardar</md-button>
                        </md-input-container>
                    </div>
                    
                </form>
            </div>
        </md-content>
        <div flex="">
                
        </div>
    </div>
</div>